header {
    background-image:url("img/fresh_snow.png");
    background-repeat:repeat;
    background-attachment:fixed;
}

header div h1{
    position:absolute;
    display:inline-block;
    font-size:26px;
    color:#424242;
    font-family:'Comic Sans MS', cursive;
    margin-left:70px;
    box-sizing:border-box;
}

header div p {
    position:absolute;
    margin-left:340px;
    margin-top:28px;
    display:inline-block;
    font-style:italic;
    color:#424242;
    box-sizing:border-box;
}

header div h3 {
    position:absolute;
    display:inline-block;
    margin-top:85px;
    margin-left:20px;
    color:#424242;
    box-sizing:border-box;
}

main {
    margin:auto;
    background-image:url("img/triangular.png");
    background-repeat:repeat;
    background-attachment:fixed;
}

.sections {
    max-width:30%;
    display:inline-block;
    vertical-align:top;
    padding:10px;
    box-sizing:border-box;
}


footer {
    background-image:url("img/fresh_snow_@2X.png");
    background-repeat:repeat-x;
    background-repeat:repeat-y;
    background-attachment:fixed;
}

ifram {
    box-sizing:border-box;
}

footer div p {
    display:inline-block;
    margin-left:30px;
    vertical-align:top;
    text-align:right;
    box-sizing:border-box;
}

.conteneur {
    width:100%;
    max-width:960px;
    margin:15px;
    padding:10px;
}

img {
    width:20%;
    margin-top:10px;
    box-sizing:border-box;
}

ul {
    list-style-type:square;
}

a:hover {
    color:#7401DF;